@font-face {
  font-family: "revue";
  src: url("../Ressources/Fonts/revue.otf");
}
@font-face {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #141414;
  color: #ededed;
  font-family: "Montserrat";
  font-size: 2.8vw;
  margin: 0;
  padding: 0;
}

#reviewSection {
  height: calc(100vh - 110px);
	position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  min-height: 600px;
  line-height: 1.5;
  overflow: hidden;
}

#face {
  width: 45%;
  height: 100%;
  float: right;
  position: relative;
  margin-right: -3%;
}

.posterImage {
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  filter: saturate(30%) contrast(85%);
}

.cite, .name {
  margin: 0;
  padding: 0;
}

.cite {
  margin-top: 2%;
}

.name {
  font-size: 1.5vw;
  margin-top: 10px;
}

.wholeRevContainer {
  display: block;
  overflow: auto;
  position: absolute;
  width: 58%;
  padding-left: 5%;
  top: 50%;
  margin-top: -12%;
}

.starRev i {
  font-size: 5vw;
}

.starRev {
  text-align: center;
  margin-left: -20%;
}

#test {
  height: 100vh;
  background-color: red;
}


@media only screen and (max-width: 800px) {
  #face {
    
  }

}
