@media screen and (max-width: 800px) {

  #navbar {
    height: 60px;
  }

  .header-logo {
    float: left;
    text-align: left;
    padding-left: 20px;
    width: auto;
  }

  .header-logo a, .header-logo a:hover {
    font-size: 22pt;
    transition: 0s;
    line-height: 60px;
  }

  .header-link {
    display: none;
  }

  .header-menu-button {
    display: inline;
    line-height: 60px;
  }

  #menubtnico {
    line-height: 60px;
  }

  .header-dropdown-menu {
    display: block;
  }

  #reviewSection {
    min-height: 450px;
  }
  .posterImage {
    filter: saturate(30%) contrast(85%) brightness(50%);
    max-height: 75%;
    max-width: 100%;
    margin-left: -8%;
  }

  #face {
    width: 100%;
    text-align: center;
  }

  .wholeRevContainer {
    width: 96%;
    padding: 0 2% 0 2%;
    text-align: center;
    vertical-align: text-bottom;
    top: 100%;
    margin-top: -250px;
  }

  .starRev i {
    font-size: 50px;
  }

  .starRev {
    margin-left: 0;
  }

  #trailer-overlay video {
    width: 100%;
    left: 0;
    right: 0;
  }

  #gallery {
    height: 50vw;
  }

  #images-container {
    height: 100%;
  }

  .gallery-container {
    border-radius: 0;
  }

  .gallery-container-middle {
    width: 100%;
  }

  .gallery-container-left {
    left: -30%;
  }

  .gallery-container-right {
    left: 130%;
  }

  #gallery i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    z-index: 4;
  }

  #gallery i:hover {
    font-size: 55px;
  }

  #gallery #icon-left {
    left: 1.5%;
  }

  #gallery #icon-left:hover {
    left: 1.2%;
  }

  #gallery #icon-right {
    right: 1.5%;
  }

  #gallery #icon-right:hover {
    right: 1.2%;
  }

  #review-form input, #review-form textarea {
    width: 70%;;
  }

  #full-stars .material-icons, #border-stars .material-icons {
    font-size: 50px;
  }

  .footer-icon {
    padding: 0 2%;
    font-size: 35px;
  }

  #cinema-list table {
    width: 100%;
    font-size: 11px;
  }

  #cinema-list table a {
    padding: 6px 10px;
    margin: 0 20px;
  }

  #buy-movie a {
    font-size: 14px;
    padding: 12px 7px;
    letter-spacing: 1;
  }

  #info {
    width: 95%;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  #top-filler {
    height: 60px;
  }

  h1 {
    font-size: 15px;
    letter-spacing: 3px;
    padding: 8px 20px;
  }
}
